<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/category-post.css">
    <title>게시판 메인페이지</title>
</head>
<body>
<header>
    <h1>메인페이지</h1>
    <nav>
        <label>카테고리 선택:</label>
        <select onchange="location = this.value">
            <option value="" selected>카테고리</option>
            <option th:each="category : ${categories}"
                    th:value="@{'/category/' + ${category.id}}"
                    th:text="${category.categoryName}">카테고리</option>
        </select>
    </nav>

    <div>
        <div th:if="${loginUser == null}">
            <button onclick="location.href='/login'">로그인하기</button>
            <a th:href="@{/signup}">회원가입</a>
        </div>

        <div th:if="${loginUser != null}">
            <span th:text="'환영합니다, ' + ${loginUser.username} + ' 님!'"></span>
            <button onclick="location.href='/logout'">로그아웃</button>
        </div>
    </div>

</header>

<main>
    <h2>최근 게시글</h2>
    <table>
        <thead>
        <tr>
            <th>카테고리</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.category.categoryName}">카테고리명</td>
            <td th:text="${post.user.username}">작성자</td>
            <td><a th:href="@{|/post/${post.id}|}" th:text="${post.title}">게시글 제목</a></td>
            <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}">생성일</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
